---
title: CV
layout: "base.njk"
---

<div class="wrapper">
  <div class="header">
    <div class="employers">Werkgever</div>
    <div class="projects">Projecten</div>
  </div>

  {% if jobs.length %}
    <h1>Werkervaring</h1>
    <ul>
      {% for job in jobs %}
        <li class="list-item">
          <div class="meta">
            <div class="title">
              <h2>{{ job.title }}</h2>
            </div>
            <div class="dates">{{ job.date }} - {{ job.dateEnd }}</div>
          </div>
          <div>
            {% if job.projects.length %}
              {% for project in job.projects %}
                <div class="project">
                  <h3>{{ project.title }}</h3>
                  {% if project.excerpt %}
                    <p>{{ project.excerpt }}</p>
                  {% endif %}
                  {% if project.description %}
                    <p>{{ project.description }}</p>
                  {% endif %}
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if educations.length %}
    <h1>Opleidingen</h1>
    <ul>
      {% for education in educations %}
        <li class="list-item">
          <div class="meta">
            <div class="title">
              <h2>{{ education.title }}</h2>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

</div>